

<form method="post" asp-action="ForgotPasswordEnter" asp-controller="Login">
     <div asp-validation-summary="ModelOnly"></div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        <label name="username" class="control-label">Nhập Username của bạn</label>
        <input name="username" class="form-control">
    </div>
    <hr>
    <input type="submit" value="Xác nhận" class="btn btn-info">
</form>


 @section scripts{
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }