<h2 class="alert alert-danger">Bạn có chắc chắn muốn xóa Database không</h2>
<form method="post" asp-action="DeleteSubmit">
    <input type="submit" value="Xóa" class="btn btn-danger">
</form>
<hr>
<a asp-action="Index" class="btn btn-primary">Quay trở lại</a>
