@model int
<h1 class="text-danger">Bạn có chắc muốn xóa blog này không</h1>
<form asp-action="Delete" asp-route-id="@Model">
    <input type="submit" value="Xóa" class="btn btn-danger">
</form>
<br>
<a class="btn btn-info" asp-action="Index">Quay lại</a>